{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2>Zrozumieć inwestowanie</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header">Czym jest inwestowanie? </p>
            <p class="text"> Inwestowanie obejmuje alokację środków na określony czas w różne projekty lub działania,
                mające na celu wygenerowanie korzystnych zwrotów, które przewyższają początkową kwotę inwestycji. Proces
                ten obejmuje strategiczną dystrybucję zasobów, zwykle kapitału, w celu uzyskania dochodu, zysków lub
                korzyści.
                <br/><br/>
                Różnorodne przedsięwzięcia mogą służyć jako możliwości inwestycyjne, zarówno poprzez bezpośrednie
                zaangażowanie, jak i pośredni udział. Możliwości te obejmują takie działania, jak rozpoczęcie
                działalności gospodarczej z wykorzystaniem funduszy lub nabywanie aktywów, takich jak nieruchomości, z
                oczekiwaniem uzyskania dochodu z wynajmu lub ich późniejszej sprzedaży po wyższej wartości.
                <br/><br/>
                W przeciwieństwie do oszczędzania, które polega na odkładaniu pieniędzy, inwestowanie wiąże się z
                aktywnym wykorzystywaniem funduszy, wprowadzając nieodłączne ryzyko, że powiązane przedsięwzięcia mogą
                się nie powieść, prowadząc do potencjalnych strat finansowych. Co więcej, inwestowanie różni się od
                spekulacji, ponieważ ta ostatnia nie wiąże się z aktywnym wykorzystaniem środków; zamiast tego polega na
                obstawianiu krótkoterminowych wahań cen.</p>
            <br/>
            <p class="header">Zrozumieć inwestowanie</p>
            <p class="text">Podstawową koncepcją inwestowania jest stopniowe zwiększanie majątku w czasie. Główna zasada
                inwestowania opiera się na oczekiwaniu statystycznie istotnego pozytywnego wyniku w postaci dochodu lub
                wzrostu wartości. Zakres aktywów dostępnych dla potencjalnych inwestycji i późniejszych zwrotów jest
                szeroki.
                <br/><br/>
                W dziedzinie inwestowania ryzyko i zwrot są ze sobą powiązane; inwestycje o niższym ryzyku zwykle
                przynoszą niższe oczekiwane zwroty, podczas gdy te o wyższych potencjalnych zwrotach wiążą się z
                większym ryzykiem. Na dolnym końcu spektrum ryzyka znajdują się podstawowe opcje inwestycyjne, takie jak
                certyfikaty depozytowe. Przesuwając się w górę drabiny ryzyka, pozycjonowane są obligacje lub
                instrumenty o stałym dochodzie, podczas gdy akcje są uważane za jeszcze bardziej ryzykowne. Towary i
                instrumenty pochodne są ogólnie klasyfikowane jako jedne z najbardziej ryzykownych wyborów
                inwestycyjnych.Co więcej, inwestowanie może obejmować aktywa materialne, takie jak grunty lub
                nieruchomości, a także delikatne przedmioty, takie jak dzieła sztuki i antyki.</p>
            <br/>
            <p class="header">Rodzaje inwestycji</p>
            <br/>
            <p class="text">
                <span class="bold">Akcje</span>
                <br/>
                Kupując akcje spółki, nabywca zyskuje częściową własność tej spółki. Właściciele akcji spółki nazywani
                są akcjonariuszami i mają możliwość uczestniczenia w rozwoju i osiągnięciach spółki. Zaangażowanie to
                może prowadzić do korzyści, takich jak wzrost wartości akcji i otrzymywanie regularnych dywidend, które
                pochodzą z zysków spółki.
                <br/><br/>
                <span class="bold">Obligacje</span>
                <br/>Obligacje stanowią zobowiązania dłużne różnych podmiotów, w tym rządów, gmin i korporacji. Nabycie
                obligacji oznacza posiadanie części zadłużenia podmiotu i uprawnia posiadacza do do otrzymywania odsetek
                w określonych odstępach czasu, a także kwoty głównej obligacji w terminie jej zapadalności.
                <br/><br/>
                <span class="bold">Fundusze</span>
                <br/>
                Fundusze służą jako narzędzia zbiorowego inwestowania nadzorowane przez zarządzających inwestycjami,
                umożliwiając inwestorom lokowanie pieniędzy w akcje, obligacje, towary, akcje uprzywilejowane i nie
                tylko. Wśród powszechnie spotykanych typów funduszy są fundusze inwestycyjne i fundusze ETF
                (exchange-traded funds). Fundusze inwestycyjne nie są przedmiotem obrotu na giełdach i są wyceniane na
                koniec dnia handlowego, podczas gdy fundusze ETF są przedmiotem obrotu na giełdach i są wyceniane w
                sposób ciągły przez całą sesję giełdową. Fundusze te mogą albo pasywnie replikować indeksy takie jak S&P
                500 lub Dow Jones Industrial Average lub być aktywnie zarządzane przez zarządzających funduszami.
                <br/><br/>
                <span class="bold">Fundusze inwestycyjne</span>
                <br/>
                Fundusze inwestycyjne to kolejna forma inwestycji łączonych. Fundusze inwestycyjne nieruchomości (REIT)
                są szczególnie widoczne w tej kategorii. REIT inwestują w nieruchomości komercyjne lub mieszkalne,
                wypłacając swoim inwestorom regularne płatności z przychodów z wynajmu generowanych przez te
                nieruchomości. Zaletą REIT-ów jest ich dostępność do obrotu na giełdach papierów wartościowych, co
                zapewnia inwestorom wygodę natychmiastowej płynności.

            </p>
        </div>
    </div>
{% endblock %}