{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }
        .bold{
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2>Understanding investing</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header"> What Is Investing? </p>
            <p class="text"> Investing involves the allocation of funds for a specific period into various projects or
                activities, aiming to generate favorable returns that surpass the initial investment amount. This
                process encompasses the strategic distribution of resources, commonly capital, with the anticipation of
                earning income, profits, or benefits.
                <br/><br/>
                Diverse ventures can serve as investment opportunities, whether through direct involvement or indirect
                participation. These opportunities encompass activities like launching a business using funds or
                acquiring assets, such as real estate, with the expectation of earning rental income or selling them
                later at a higher value.
                <br/><br/>
                Unlike saving, which involves setting money aside, investing entails actively employing the funds,
                introducing an inherent risk that the associated ventures might not succeed, leading to potential
                financial losses. Furthermore, investing differs from speculation since the latter doesn't entail active
                deployment of funds; instead, it relies on betting on short-term price fluctuations.</p>
            <br/>
            <p class="header">Understanding investing</p>
            <p class="text">The fundamental concept of investing is to increase one's wealth gradually over time. The central
                principle of investing revolves around the anticipation of a statistically significant positive outcome,
                either in the form of income or appreciation in value. The range of assets available for potential
                investment and subsequent returns is extensive.
                <br/><br/>
                In the realm of investing, risk and return are interconnected; investments with lower risk usually yield
                lower expected returns, whereas those with higher potential returns tend to carry greater risk. At the
                lower end of the risk spectrum, there are basic investment options like Certificates of Deposit (CDs).
                Moving up the risk ladder, bonds or fixed-income instruments are positioned, while stocks or equities
                are considered to be even riskier. Commodities and derivatives are generally classified as some of the
                most perilous investment choices. Moreover, investing can encompass tangible assets like land or real
                estate, as well as delicate items such as fine art and antiques.</p>
            <br/>
            <p class="header">Types of investments</p>
            <br/>
            <p class="text">
                <span class="bold">Stocks</span>
<br/>
                When purchasing a company's stock, the buyer gains partial ownership in that company. Those who own
                company stock are referred to as shareholders, and they have the opportunity to partake in the company's
                growth and achievements. This involvement can lead to benefits such as the appreciation of the stock's
                value and the receipt of regular dividends, which are sourced from the company's profits.
<br/><br/>
                <span class="bold">Bonds</span>
<br/>
                Bonds represent the debt commitments of various entities, including governments, municipalities, and
                corporations. Acquiring a bond signifies holding a portion of the entity's debt and entitles the holder
                to receive interest payments at intervals, as well as the principal amount of the bond upon its
                maturity.
<br/><br/>
                <span class="bold">Funds</span>
<br/>
                Funds serve as collective investment tools overseen by investment managers, enabling investors to place
                their money in stocks, bonds, commodities, preferred shares, and more. Among the commonly encountered
                fund types are mutual funds and exchange-traded funds (ETFs). Mutual funds are not traded on exchanges
                and are evaluated at the close of the trading day, while ETFs are traded on stock exchanges and are
                valued continuously throughout the trading session. These funds can either passively replicate indices
                like the S&P 500 or the Dow Jones Industrial Average or be actively managed by fund managers.
<br/><br/>
                <span class="bold">Investment Trusts</span>
<br/>
                Investment trusts present another form of pooled investment. Real Estate Investment Trusts (REITs) are
                particularly prominent within this category. REITs invest in commercial or residential properties,
                distributing regular payments to their investors from the rental income generated by these properties.
                The advantage of REITs lies in their availability for trading on stock exchanges, offering investors the
                convenience of immediate liquidity.
            </p>
        </div>
    </div>
{% endblock %}