{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2>Zrozumieć inwestowanie</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header">Czym są wskaźniki techniczne?</p>
            <p class="text">
                Inwestorzy, którzy stosują analizę techniczną, polegają na sygnałach heurystycznych lub opartych na
                wzorcach, znanych jako wskaźniki techniczne. Sygnały te wyłaniają się z czynników takich jak cena,
                wolumen i otwarte zainteresowanie papierami wartościowymi lub kontraktami.
                <br/><br/>
                Wykorzystując dane historyczne jako podstawę, analitycy techniczni wykorzystują wskaźniki do
                przewidywania nadchodzących wahań cen. Wśród dominujących wskaźników technicznych znajdują się Relative
                Strength Index (RSI), Money Flow Index (MFI), stochastyka, dywergencja konwergencji średniej ruchomej
                (MACD) i wstęgi Bollingera.
                <br/><br/>
                Wskaźniki techniczne koncentrują się na historycznych danych akcji, takich jak cena, wolumen i
                otwarte zainteresowanie, a nie na podstawach działalności, takich jak zyski, przychody lub marże zysku.
                Wskaźniki techniczne są powszechnie używane przez aktywnych traderów, ponieważ zostały zaprojektowane do
                analizy krótkoterminowych ruchów cen, ale inwestorzy długoterminowi mogą również używać wskaźników
                technicznych do identyfikacji punktów wejścia i wyjścia.
            <p class="header">Rodzaje wskaźników</p>
            <p class="text">
                Wskaźniki techniczne w inwestowaniu można podzielić na dwie podstawowe kategorie:
                <br/><br/>
                <span class="bold">Pokrycia:</span> Wskaźniki te mają tę samą skalę co ceny i są przedstawiane
                bezpośrednio nad danymi cenowymi na wykresie giełdowym. Przykłady obejmują między innymi średnie
                kroczące i wstęgi Bollingera.
                <br/><br/>
                <span class="bold">Oscylatory:</span> Wskaźniki należące do tej kategorii oscylują między lokalnymi
                punktami minimalnymi i maksymalnymi i są umieszczone powyżej lub poniżej wykresu cenowego. Na uwagę
                zasługują oscylator stochastyczny, MACD i RSI. oscylator, MACD i RSI.
                <br/><br/>Inwestorzy często korzystają z różnych wskaźników technicznych podczas analizy papierów
                wartościowych. Przy szerokiej gamie dostępnych opcji, inwestorzy muszą zdecydować się na wskaźniki,
                które są zgodne z ich strategią i zainwestować wysiłek w w zrozumienie ich mechanizmów. Traderzy mogą
                również łączyć wskaźniki techniczne z bardziej subiektywnymi metodami analizy technicznej, takimi jak
                interpretacja wzorców wykresów, w celu sformułowania koncepcji inwestycyjnych. Ilościowy charakter
                wskaźników technicznych sprawia również, że nadają się one do integracji z automatycznymi systemami
                transakcyjnymi systemów transakcyjnych.

            </p>
        </div>
    </div>
{% endblock %}