{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2> What is stock ticker symbol?</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header"> Stock ticker</p>
            <p class="text">
                A stock symbol, also referred to as a ticker, constitutes a distinct sequence of letters allocated to a
                security with the aim of facilitating trading activities. On the New York Stock Exchange (NYSE), stocks
                may possess four or fewer letters in their symbols. Conversely, securities listed on Nasdaq can
                encompass up to five characters in their symbols.
                <br/>
                In essence, symbols function as an abbreviated means of identifying a company's stock. The distinction
                between symbols containing three, four, or five letters isn't substantial. They all serve the same
                purpose of representing a company's stock for trading purposes. These symbols are commonly recognized as
                ticker symbols.
                <br/><br/>
                In the realm of publicly-traded securities on an exchange, a stock symbol is composed of characters,
                typically letters, that serve as a representation.<br/>
                When a company makes its securities available to the public marketplace, it opts for a suitable symbol
                for its shares from those that are accessible. This symbol choice frequently correlates with the
                company's name.<br/>
                Investors and traders rely on this symbol to execute trade orders, leveraging it as a key
                identifier.<br/>
                Stock symbols can incorporate extra letters, which serve to signify supplementary attributes like share
                class distinctions or trading limitations.
            <p class="header"> History of ticker symbols</p>
            <p class="text">
                Edward Calahan, a telegraph operator employed by the New York Stock Exchange (NYSE), is credited with
                devising the ticker symbol. This innovation emerged in 1867 and was conceived as a means to transmit
                stock prices rapidly and accurately through telegraph lines.
<br/><br/>
                Calahan's ticker symbol had a configuration involving two letters, which represented the company's name,
                succeeded by a numeric figure representing the quantity of shares being traded. Dispatched through
                telegraph lines, this ticker symbol was displayed on tickertape machines. These machines played a
                pivotal role in maintaining nearly real-time records of stock prices.
<br/><br/>
                This breakthrough by Calahan, documented in the "History Channel," revolutionized the reporting of stock
                prices and significantly enhanced the efficiency and transparency of the stock market. This innovation
                remains pertinent in the contemporary financial landscape, as ticker symbols are widely adopted by major
                stock exchanges worldwide.
<br/><br/>
                The maiden utilization of a ticker symbol transpired on November 15, 1867, when the New York Stock
                Exchange (NYSE) adopted it to designate the shares of the Union Pacific Railroad Company. This inaugural
                ticker symbol comprised two letters ("UP") followed by a number indicating the volume of shares traded.
<br/><br/>
                As the realm of publicly traded corporations and securities expanded, the NYSE underwent a progression
                in the use of ticker symbols. In the 1920s, the practice was extended to encompass three letters, and in
                the 1950s, it evolved further to encompass four letters. In today's context, ticker symbols, typically
                composed of up to five letters, are embraced by most major global stock exchanges. Beyond their
                identification function, ticker symbols have acquired significance in financial branding and marketing.
                Companies frequently select easily memorable ticker symbols or those that exhibit a connection to their
                business or brand.

            </p>
        </div>
    </div>
{% endblock %}