{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2> Czym są wstęgi Bollingera?</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header"> Wstęgi Bollingera</p>
            <p class="text">
Wstęga Bollingera to narzędzie analizy technicznej zdefiniowane przez zestaw linii trendu. Są one wykreślane jako dwa odchylenia standardowe, zarówno dodatnie, jak i ujemne, od prostej średniej ruchomej (SMA) ceny papieru wartościowego i mogą być dostosowywane do preferencji użytkownika.
                <br/><br/>

Wstęgi Bollingera zostały opracowane przez tradera technicznego Johna Bollingera i zaprojektowane w celu zapewnienia inwestorom większego prawdopodobieństwa zidentyfikowania, kiedy aktywa są wyprzedane lub wykupione.
                <br/><br/>


              Wstęgi Bollingera to narzędzie analizy technicznej służące do generowania sygnałów wyprzedania lub wykupienia, opracowane przez Johna Bollingera.<br/>
                Wstęgi Bollingera składają się z trzech linii: Prosta średnia krocząca lub środkowa wstęga oraz górna i dolna wstęga.<br/>
               Górna i dolna wstęga mają zazwyczaj 2 odchylenia standardowe +/- od 20-dniowej prostej średniej kroczącej i mogą być modyfikowane.<br/>
                Gdy cena stale dotyka górnej wstęgi Bollingera, może to wskazywać na sygnał wykupienia.<br/>
                Jeśli cena stale dotyka dolnej wstęgi, może to wskazywać na sygnał wyprzedania.<br/><br/>
            <p class="header">Interpretacja wstęg Bollingera </p>
            <p class="text">
                <span class="bold">Ściśnięcie</span>
<br/>
"Ściśnięcie" jest główną koncepcją wstęg Bollingera. Kiedy wstęgi zbliżają się do siebie, ograniczając średnią ruchomą, nazywane jest to ściśnięciem. Ściśnięcie sygnalizuje okres niskiej zmienności i jest uważane przez traderów za potencjalną oznakę przyszłej zwiększonej zmienności i możliwych okazji handlowych. I odwrotnie, im szerzej rozstawione są wstęgi, tym większe prawdopodobieństwo spadku zmienności i większa możliwość wyjścia z transakcji. Warunki te nie są sygnałami handlowymi. Wstęgi nie wskazują, kiedy może nastąpić zmiana ani w jakim kierunku może poruszać się cena.<br/>
                <span class="bold">Wybicia</span>
<br/>
Około 90% akcji cenowej ma miejsce pomiędzy dwoma wstęgami. Każde wybicie powyżej lub poniżej wstęg jest znaczące. Wybicie nie jest sygnałem transakcyjnym i wielu inwestorów mylnie uważa, że gdy cena osiągnie lub przekroczy jedną ze wstęg, jest to sygnał do kupna lub sprzedaży. Wybicia nie dają żadnych wskazówek co do kierunku i zakresu przyszłego ruchu cen.
            </p>
        </div>
    </div>
{% endblock %}