{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2> Czym jest akcja?</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header">Akcje zwykłe</p>
            <p class="text"> W ramach korporacji akcje zwykłe funkcjonują jako papier wartościowy ucieleśniający prawo
                własności. Osoby posiadające akcje zwykłe uczestniczą w wyborze zarządu i podejmowaniu decyzji
                dotyczących polityki korporacyjnej. W dłuższym okresie ten rodzaj własności kapitału generalnie generuje
                lepsze zwroty. Niemniej jednak, podczas procesu likwidacji, zwykli akcjonariusze posiadają uprawnienia
                do aktywów spółki wyłącznie po całkowitym rozliczeniu obligatariuszy, akcjonariuszy uprzywilejowanych i
                innych posiadaczy długu. W bilansie spółki akcje zwykłe są reprezentowane w segmencie kapitału własnego
                akcjonariuszy.
                <br/><br/>
                Bieżące i przyszłe zyski spółki są reprezentowane w akcjach zwykłych jako roszczenie rezydualne. Dzięki
                temu akcjonariusze stają się częściowymi właścicielami spółki. Ważne jest, aby pamiętać, że ta własność
                nie daje akcjonariuszom możliwości sprawowania kontroli nad aktywami fizycznymi, takimi jak krzesła,
                biurka lub komputery w siedzibie firmy. Aktywa te są własnością osoby prawnej samej korporacji. Zamiast
                tego akcjonariusze posiadają własność samego roszczenia rezydualnego. Inwestorzy i handlowcy mogą
                angażować się w obrót akcjami zwykłymi na giełdach, ułatwiając kupno i sprzedaż. Akcjonariusze
                posiadający akcje zwykłe mogą być również uprawnieni do otrzymywania dywidend.
                <br/><br/>

                Holenderska Kompania Wschodnioindyjska wprowadziła pierwsze akcje zwykłe w 1602 r., debiutując na
                giełdzie w Amsterdamie. W ciągu ponad 400 lat rynki akcji rozwinęły się na całym świecie. Obecnie na
                międzynarodowych giełdach notowanych jest wiele tysięcy spółek, w tym tak znane jak London Stock
                Exchange i Tokyo Stock Exchange.
                <br/><br/>

                Główne akcje amerykańskie są przedmiotem obrotu na giełdach publicznych, takich jak New York Stock
                Exchange (NYSE) i NASDAQ. Do pierwszego kwartału 2022 r. NYSE zgromadziła 7 417 notowań, szczycąc się
                łączną kapitalizacją rynkową wynoszącą około 53 bln USD. Liczba ta umocniła jej pozycję jako największej
                giełdy papierów wartościowych na świecie pod względem kapitalizacji rynkowej. Międzynarodowe giełdy
                papierów wartościowych istnieją również dla akcji zagranicznych. Spółki o mniejszych rozmiarach, które
                nie spełniają warunków wstępnych notowania na giełdach, są oznaczane jako nienotowane. Te nienotowane
                akcje są przedmiotem obrotu na rynku pozagiełdowym (OTC).
                <br/><br/>
            <p class="header">Akcje uprzywilejowane</p>
            <p class="text">
                Akcje uprzywilejowane, szczególny rodzaj akcji, wyróżniają się tym, że wypłacają akcjonariuszom z góry
                określoną dywidendę. Ta odmiana akcji ma pierwszeństwo przed akcjami zwykłymi, jeśli chodzi o wypłatę
                dywidendy. Pomimo swojej nomenklatury, akcje uprzywilejowane nie są z natury faworyzowane przez
                większość inwestorów (choć ich zalety są z pewnością godne uwagi).
                <br/><br/>
                Pod wieloma względami akcje uprzywilejowane odzwierciedlają cechy obligacji. Aby wyjaśnić, głównym
                źródłem zwrotów z akcji uprzywilejowanych jest zazwyczaj dywidenda. Ponadto akcje uprzywilejowane
                zazwyczaj oferują wyższy zysk w porównaniu z akcjami zwykłymi. Analogicznie do obligacji, akcje
                uprzywilejowane wykazują lepsze wyniki w okresach spadających stóp procentowych. Co więcej, akcjom
                uprzywilejowanym przypisuje się wartość nominalną w momencie emisji, co oznacza ich wartość początkową i
                potencjał do wykupu po upływie terminu zapadalności akcji uprzywilejowanych.
                <br/><br/>
                Akcje uprzywilejowane mają ponadto możliwość "wezwania" przez spółkę, czyli zasadniczo wykupu, w
                ustalonym wcześniej terminie. W związku z tym cena wykupu może przekroczyć cenę zakupu pierwotnego
                inwestora. Dodatkowym charakterystycznym aspektem wybranych odmian akcji uprzywilejowanych jest ich
                zdolność do przekształcenia się w stałą liczbę akcji zwykłych; odwrotna transformacja nie jest możliwa.
                Ta kategoria akcji jest określana jako zamienne akcje uprzywilejowane.
                <br/><br/>

                Dla inwestorów z krótkoterminową perspektywą, akcje uprzywilejowane mogą stanowić bardziej odpowiedni
                wybór inwestycyjny, zwłaszcza jeśli nie są w stanie utrzymać akcji zwykłych przez wystarczający okres,
                aby przezwyciężyć wahania cen akcji. Wynika to ze stosunkowo mniejszej zmienności związanej z akcjami
                uprzywilejowanymi. Warto jednak zauważyć, że chociaż akcje uprzywilejowane mają tendencję do
                doświadczania mniejszych wahań, ich potencjał długoterminowego wzrostu jest generalnie niższy w
                porównaniu z akcjami zwykłymi.
            </p>
        </div>
    </div>
{% endblock %}