{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2> Czym jest MACD?</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header">Konwergencja/dywergencja średniej ruchomej (MACD)</p>
            <p class="text">
Konwergencja/dywergencja średniej kroczącej (MACD lub MAC-D) to wskaźnik dynamiki podążający za trendem, który pokazuje związek między dwiema wykładniczymi średnimi kroczącymi (EMA) ceny papieru wartościowego. Linia MACD jest obliczana poprzez odjęcie 26-okresowej EMA od 12-okresowej EMA.
                <br/><br/>

Wynikiem tego obliczenia jest linia MACD. Dziewięciodniowa EMA linii MACD nazywana jest linią sygnału, która jest następnie wykreślana na szczycie linii MACD, co może funkcjonować jako wyzwalacz sygnałów kupna lub sprzedaży. Inwestorzy mogą kupić papier wartościowy, gdy linia MACD przecina się powyżej linii sygnału i sprzedać - lub skrócić - papier wartościowy, gdy linia MACD przecina się poniżej linii sygnału. Wskaźniki MACD można interpretować na kilka sposobów, ale najbardziej powszechnymi metodami są crossovery, dywergencje i gwałtowne wzrosty/spadki.
            <p class="header"> Interpretacja MACD</p>
            <p class="text">
Kiedy MACD (Moving Average Convergence Divergence) spada poniżej linii sygnału, służy jako niedźwiedzi wskaźnik, potencjalnie oznaczający odpowiedni moment na sprzedaż. I odwrotnie, jeśli MACD wznosi się powyżej linii sygnałowej, ten byczy sygnał sugeruje, że cena aktywa może być świadkiem gwałtownego wzrostu. Aby uniknąć przedwczesnych decyzji, niektórzy inwestorzy czekają na zweryfikowane przecięcie powyżej linii sygnałowej przed wejściem w pozycję. Taktyka ta ma na celu zminimalizowanie ryzyka padnięcia ofiarą zwodniczych sygnałów i przedwczesnego wejścia w pozycję.
                <br/><br/>
Kiedy MACD tworzy szczyty lub dołki, które przekraczają odpowiadające im szczyty i dołki na cenie, nazywa się to dywergencją. Bycza dywergencja pojawia się, gdy MACD tworzy dwa rosnące dołki, które odpowiadają dwóm spadającym dołkom na cenie. Jest to ważny byczy sygnał, gdy długoterminowy trend jest nadal pozytywny.                <br/><br/>

            </p>
        </div>
    </div>
{% endblock %}