{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2> Czym jest prosta średnia krocząca?</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header"> Prosta średnia krocząca</p>
            <p class="text">
Prosta średnia krocząca (SMA) oblicza średnią wybranego zakresu cen, zazwyczaj cen zamknięcia, przez liczbę okresów w tym zakresie.
                <br/><br/>

Prosta średnia krocząca (SMA) to arytmetyczna średnia krocząca obliczana poprzez dodanie ostatnich cen, a następnie podzielenie tej liczby przez liczbę okresów w średniej obliczeniowej. Na przykład, można dodać cenę zamknięcia papieru wartościowego dla pewnej liczby okresów, a następnie podzielić tę sumę przez tę samą liczbę okresów. Średnie krótkoterminowe szybko reagują na zmiany ceny bazowego papieru wartościowego, podczas gdy średnie długoterminowe reagują wolniej. Istnieją inne rodzaje średnich kroczących, w tym wykładnicza średnia krocząca (EMA) i ważona średnia krocząca (WMA).
<br/><br/>
            <p class="header">Ograniczenia prostej średniej kroczącej</p>
            <p class="text">
Nie jest jasne, czy większy nacisk należy kłaść na ostatnie dni w danym okresie, czy też na bardziej odległe dane. Wielu inwestorów uważa, że nowe dane lepiej odzwierciedlają aktualny trend, w którym porusza się papier wartościowy. Jednocześnie inni traderzy uważają, że uprzywilejowanie niektórych dat w stosunku do innych spowoduje stronniczość trendu. W związku z tym SMA może w zbyt dużym stopniu opierać się na nieaktualnych danych, ponieważ traktuje wpływ 10. lub 200. dnia tak samo jak wpływ pierwszego lub drugiego dnia. Podobnie, SMA opiera się w całości na danych historycznych. Wiele osób (w tym ekonomiści) wierzy, że rynki są efektywne - to znaczy, że bieżące ceny rynkowe odzwierciedlają już wszystkie dostępne informacje. Jeśli rynki są rzeczywiście efektywne, wykorzystanie danych historycznych nie powinno nam nic powiedzieć o przyszłym kierunku cen aktywów.
            </p>
            <br/>
            <p class="header">Jak proste średnie kroczące są wykorzystywane w analizie technicznej?</p>
            <p class="text">
Traderzy używają prostych średnich kroczących (SMA), aby nakreślić długoterminową trajektorię akcji lub innych papierów wartościowych, ignorując jednocześnie szum związany z codziennymi ruchami cen. Pozwala to inwestorom na porównywanie średnio- i długoterminowych trendów w szerszym horyzoncie czasowym. Na przykład, jeśli 200-dniowa SMA papieru wartościowego spadnie poniżej 50-dniowej SMA, jest to zwykle interpretowane jako niedźwiedzia formacja krzyża śmierci i sygnał dalszych spadków. Odwrotna formacja, złoty krzyż, wskazuje na potencjał wzrostu rynku.            </p>
        </div>
    </div>
{% endblock %}