{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2> Czym jest wykładnicza średnia krocząca?</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header"> Wykładnicza średnia krocząca</p>
            <p class="text">
Wykładnicza średnia krocząca (EMA) to rodzaj średniej kroczącej (MA), która przypisuje większą wagę i znaczenie najnowszym punktom danych. Wykładnicza średnia krocząca jest również określana jako wykładniczo ważona średnia krocząca. Wykładniczo ważona średnia krocząca reaguje bardziej znacząco na ostatnie zmiany cen niż prosta średnia krocząca (SMA), która stosuje równą wagę do wszystkich obserwacji w danym okresie.
                <br/><br/>

12- i 26-dniowe wykładnicze średnie kroczące (EMA) są często najczęściej cytowanymi i analizowanymi średnimi krótkoterminowymi. 12- i 26-dniowe są wykorzystywane do tworzenia wskaźników, takich jak dywergencja zbieżności średniej ruchomej (MACD) i procentowy oscylator ceny (PPO). Ogólnie rzecz biorąc, 50- i 200-dniowe EMA są wykorzystywane jako wskaźniki trendów długoterminowych. Kiedy cena akcji przekracza 200-dniową średnią kroczącą, jest to techniczny sygnał, że nastąpiło odwrócenie trendu.
                <br/><br/>

Traderzy, którzy stosują analizę techniczną, uważają, że średnie kroczące są bardzo przydatne i wnikliwe, gdy są prawidłowo stosowane. Jednak zdają sobie również sprawę, że sygnały te mogą powodować spustoszenie, gdy są używane niewłaściwie lub błędnie interpretowane. Wszystkie średnie kroczące powszechnie stosowane w analizie technicznej są wskaźnikami opóźnionymi.
                <br/><br/>
            <p class="header">Ograniczenia wykładniczej średniej kroczącej </p>
            <p class="text">

Nie jest jasne, czy należy kłaść większy nacisk na ostatnie dni w danym okresie. Wielu inwestorów uważa, że nowe dane lepiej odzwierciedlają bieżący trend danego papieru wartościowego. Jednocześnie inni uważają, że przeważanie ostatnich dat tworzy stronniczość, która prowadzi do większej liczby fałszywych alarmów. Podobnie, EMA opiera się w całości na danych historycznych. Wielu ekonomistów uważa, że rynki są efektywne, co oznacza, że bieżące ceny rynkowe odzwierciedlają już wszystkie dostępne informacje. Jeśli rynki są rzeczywiście efektywne, wykorzystanie danych historycznych nie powinno nam nic powiedzieć o przyszłym kierunku cen aktywów.

            </p>
        </div>
    </div>
{% endblock %}