{% extends 'base.html' %}
{% block content %}
    <style>
        .line {
            width: 500px;
            height: 3px;
            background-color: darkgrey;
        }

        .header {
            font-size: 22px;
            font-weight: bold;
        }

        .text {
            font-size: 18px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
    <div class="container" style="width:60vw; display: flex; flex-wrap: wrap; margin-top: 40px; flex-direction: column">
        <h2>Czym jest symbol akcji?</h2>
        <div class="line"></div>
        <div style="margin-top: 40px">
            <p class="header"> Symbol</p>
            <p class="text">
                Symbol giełdowy, określany również jako ticker, stanowi odrębną sekwencję liter przypisanych do papieru
                wartościowego w celu ułatwienia działalności handlowej. Na Nowojorskiej Giełdzie Papierów Wartościowych
                (NYSE) akcje mogą posiadać cztery lub mniej liter w swoich symbolach. Z kolei papiery wartościowe
                notowane na Nasdaq mogą zawierać w swoich symbolach do pięciu znaków.
                <br/>
                Zasadniczo symbole funkcjonują jako skrócony sposób identyfikacji akcji spółki. Różnica między symbolami
                zawierającymi trzy, cztery lub pięć liter nie jest istotna. Wszystkie służą temu samemu celowi, jakim
                jest reprezentowanie akcji spółki do celów handlowych. Symbole te są powszechnie rozpoznawane jako
                symbole giełdowe.
                <br/><br/>
                W sferze papierów wartościowych będących przedmiotem publicznego obrotu na giełdzie, symbol akcji składa
                się ze znaków, zazwyczaj liter, które służą jako reprezentacja.
                Gdy spółka udostępnia swoje papiery wartościowe na rynku publicznym, wybiera odpowiedni symbol dla
                swoich akcji spośród tych, które są dostępne. Wybór symbolu jest często skorelowany z nazwą spółki.<br/>
                Inwestorzy i traderzy polegają na tym symbolu przy realizacji zleceń handlowych, wykorzystując go jako
                kluczowy identyfikator.<br/>
                Symbole akcji mogą zawierać dodatkowe litery, które służą do oznaczania dodatkowych atrybutów, takich
                jak rozróżnienie klas akcji lub ograniczenia handlowe.
            <p class="header"> Historia symboli giełdowych</p>
            <p class="text">
                Edward Calahan, operator telegrafu zatrudniony przez Nowojorską Giełdę Papierów Wartościowych (NYSE),
                jest uznawany za twórcę symbolu giełdowego. Innowacja ta pojawiła się w 1867 roku i została pomyślana
                jako sposób na szybkie i dokładne przesyłanie cen akcji za pośrednictwem linii telegraficznych.
                <br/><br/>
                Symbol giełdowy Calahana miał konfigurację składającą się z dwóch liter, które reprezentowały nazwę
                spółki, po których następowała liczba numeryczna reprezentująca ilość akcji będących przedmiotem obrotu.
                Symbol ten, przesyłany za pośrednictwem linii telegraficznych, był wyświetlany na urządzeniach z taśmą
                klejącą. Maszyny te odegrały kluczową rolę w utrzymywaniu zapisów cen akcji niemal w czasie
                rzeczywistym.
                <br/><br/>
                To przełomowe odkrycie Calahana, udokumentowane w "History Channel", zrewolucjonizowało raportowanie cen
                akcji i znacząco zwiększyło wydajność i przejrzystość rynku akcji. Ta innowacja pozostaje istotna we
                współczesnym krajobrazie finansowym, ponieważ symbole giełdowe są szeroko stosowane przez główne giełdy
                papierów wartościowych na całym świecie.
                <br/><br/>
                Pierwsze użycie symbolu giełdowego miało miejsce 15 listopada 1867 r., kiedy to Nowojorska Giełda
                Papierów Wartościowych (NYSE) przyjęła go do oznaczania akcji Union Pacific Railroad Company. Ten
                inauguracyjny symbol giełdowy składał się z dwóch liter ("UP"), po których następowała liczba wskazująca
                wolumen akcji będących przedmiotem obrotu.
                <br/><br/>

                Wraz z rozwojem korporacji i papierów wartościowych w obrocie publicznym, NYSE przeszła progresję w
                stosowaniu symboli giełdowych. W latach 20. praktyka ta została rozszerzona na trzy litery, a w latach
                50. ewoluowała dalej, obejmując cztery litery. W dzisiejszym kontekście symbole giełdowe, zazwyczaj
                składające się z maksymalnie pięciu liter, są stosowane przez większość głównych światowych giełd
                papierów wartościowych. Poza funkcją identyfikacyjną, symbole giełdowe nabrały znaczenia w brandingu
                finansowym i marketingu. Firmy często wybierają łatwe do zapamiętania symbole giełdowe lub takie, które
                wykazują związek z ich działalnością lub marką.

            </p>
        </div>
    </div>
{% endblock %}