{% extends 'base.html' %}
{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <style>
        .dymek {
            display: none;
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 5px;
            position: absolute;
            margin-left: 10px;
            font-size: 13px;
            width: 250px;
        }

        #macdicon:hover + #macdtooltip {
            display: inline-block;
        }

        #smaicon:hover + #smatooltip {
            display: inline-block;
        }

        #emaicon:hover + #ematooltip {
            display: inline-block;
        }
    </style>
    <div class="container"
         style="display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; width: 90vw; align-content: center">
        <h2>Today is: {{ day }}, {{ today.day }} {{ month }} {{ today.year }}</h2>
        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 30px; ">
            <div style="order: 1">
                {{ divN | safe }}
                {{ scriptN | safe }}

                <form method="post" name="timeInterval"> {% csrf_token %}
                    <span>Range: </span>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeN" value="1m">1m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeN" value="3m">3m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeN" value="6m">6m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeN" value="1y">1y</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeN" value="5y">5y</button>

                </form>
            </div>
            <br>
            <div style="order: 1">
                {{ divS | safe }}
                {{ scriptS | safe }}

                <form method="post" id="timeSP" name="timeInterval"> {% csrf_token %}
                    <span>Range: </span>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeS" value="1m">1m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeS" value="3m">3m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeS" value="6m">6m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeS" value="1y">1y</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeS" value="5y">5y</button>

                </form>
            </div>
        </div>
        <h3 style="margin-top: 40px;">Advanced analysis</h3>
        <h5 style="margin-top: 20px">Search for stock:</h5>
        <form class="d-flex" method="POST" name="searchStock" style="margin-bottom: 30px">

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


            {% csrf_token %}
            <input class="form-control me-2" id="wprowadzonyTekst" list="dopasowaniaList" type="text"
                   placeholder="enter ticker eg. msft" aria-label="Add Stock" name="ticker" autocomplete="off"
                   style="width: 15%; ">
            <datalist id="dopasowaniaList">
            </datalist>

            <script>
                $(document).ready(function () {
                    $('#wprowadzonyTekst').on('input', function () {
                        var wprowadzonyTekst = $(this).val();
                        $.ajax({
                            url: '/dopasowania/',
                            data: {'q': wprowadzonyTekst},
                            dataType: 'json',
                            success: function (data) {
                                var datalist = $('#dopasowaniaList');
                                datalist.empty();

                                data.forEach(function (dopasowanie) {
                                    datalist.append('<option value="' + dopasowanie + '">');
                                });
                            }
                        });
                    });
                });
            </script>
            <button class="btn btn-outline-success" type="submit" id="search" name="search_button">Search</button>
        </form>
        <div style="order: 1; display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="aa">
                {{ divD | safe }}
                {{ divMACD | safe }}

            </div>
            {{ scriptD | safe }}
            {{ scriptMACD | safe }}

            {% if divD != "" %}
                <form method="post" id="indicators" name="timeInterval" style="margin-top: 50px"> {% csrf_token %}
                    <span>Range: </span>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeD" value="1m">1m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeD" value="3m">3m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeD" value="6m">6m</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeD" value="1y">1y</button>
                    <button type="submit" class="btn btn-link btn-sm" name="saveTimeD" value="max">max.</button>
                    <br/><span style="font-size: 18px">Indicators </span>
                    <br/>
                    <input type="checkbox" id="macd" name="MACD">
                    <label for="macd" class="macd"> MACD</label>
                    <svg xmlns="http://www.w3.org/2000/svg" id="macdicon" width="16" height="16" fill="currentColor"
                         class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <div class="dymek" id="macdtooltip">
                        <p>The moving average convergence/divergence (MACD) line is calculated by subtracting the
                            26-period exponential moving average (EMA) from the 12-period EMA. The signal line is a
                            nine-period EMA of the MACD line.</p>
                    </div>
                    <br/>
                    <span>SMA:</span>
                    <svg xmlns="http://www.w3.org/2000/svg" id="smaicon" width="16" height="16" fill="currentColor"
                         class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <div class="dymek" id="smatooltip">
                        <p>A simple moving average (SMA) calculates the average of a selected range of prices, usually
                            closing prices, by the number of periods in that range. </p>
                    </div>
                    <br/>
                    <input type="checkbox" id="sma10" name="SMA10" value="10">
                    <label for="sma10"> SMA10</label>
                    <br/>
                    <input type="checkbox" id="sma20" name="SMA20" value="20">
                    <label for="sma20">SMA20</label>
                    <br/>
                    <input type="checkbox" id="sma50" name="SMA50" value="50">
                    <label for="sma50">SMA50</label>
                    <br/>
                    <input type="checkbox" id="sma100" name="SMA100" value="100">
                    <label for="sma100">SMA100</label>
                    <br/>
                    <input type="checkbox" id="sma200" name="SMA200" value="200">
                    <label for="sma200">SMA200</label>
                    <br/><span>EMA:</span>
                    <svg xmlns="http://www.w3.org/2000/svg" id="emaicon" width="16" height="16" fill="currentColor"
                         class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <div class="dymek" id="ematooltip">
                        <p>An exponential moving average (EMA) is a type of moving average (MA) that places a greater
                            weight and significance on the most recent data points. The exponential moving average is
                            also referred to as the exponentially weighted moving average. An exponentially weighted
                            moving average reacts more significantly to recent price changes than a simple moving
                            average. </p>
                    </div>
                    <br/>
                    <input type="checkbox" id="ema10" name="EMA10" value="10">
                    <label for="ema10">EMA10</label>
                    <br/>
                    <input type="checkbox" id="ema20" name="EMA20" value="20">
                    <label for="ema20">EMA20</label>
                    <br/>
                    <input type="checkbox" id="ema50" name="EMA50" value="50">
                    <label for="ema50">EMA50</label>
                    <br/>
                    <input type="checkbox" id="ema100" name="EMA100" value="100">
                    <label for="ema100">EMA100</label>
                    <br/>
                    <input type="checkbox" id="ema200" name="EMA200" value="200">
                    <label for="ema200">EMA200</label>
                </form>
            {% endif %}
        </div>


        <script>
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    // Sprawdź, który checkbox został zmieniony

                    // Wyślij formularz

                    document.getElementById('indicators').submit();
                });
            });

            //ZACHOWANIE STANU CHECKBOXOW
            //SMA10
            const sma10 = document.getElementById('sma10');
            // Nasluchiwanie zmiany
            sma10.addEventListener('change', function () {
                // Zapisanie stanu checkboxa
                localStorage.setItem('sma10state', this.checked);
            });
            // Przy wczytaniu strony odczytanie stanu checkboxa
            if (localStorage.getItem('sma10state') !== null) {
                sma10.checked = localStorage.getItem('sma10state') === 'true';
            }
            //SMA20
            const sma20 = document.getElementById('sma20');
            sma20.addEventListener('change', function () {
                localStorage.setItem('sma20state', this.checked);
            });
            if (localStorage.getItem('sma20state') !== null) {
                sma20.checked = localStorage.getItem('sma20state') === 'true';
            }
            //SMA50
            const sma50 = document.getElementById('sma50');
            sma50.addEventListener('change', function () {
                localStorage.setItem('sma50state', this.checked);
            });
            if (localStorage.getItem('sma50state') !== null) {
                sma50.checked = localStorage.getItem('sma50state') === 'true';
            }
            //SMA100
            const sma100 = document.getElementById('sma100');
            sma100.addEventListener('change', function () {
                localStorage.setItem('sma100state', this.checked);
            });
            if (localStorage.getItem('sma100state') !== null) {
                sma100.checked = localStorage.getItem('sma100state') === 'true';
            }
            //SMA200
            const sma200 = document.getElementById('sma200');
            sma200.addEventListener('change', function () {
                localStorage.setItem('sma200state', this.checked);
            });
            if (localStorage.getItem('sma200state') !== null) {
                sma200.checked = localStorage.getItem('sma200state') === 'true';
            }

            //ema10
            const ema10 = document.getElementById('ema10');
            ema10.addEventListener('change', function () {
                localStorage.setItem('ema10state', this.checked);
            });
            if (localStorage.getItem('ema10state') !== null) {
                ema10.checked = localStorage.getItem('ema10state') === 'true';
            }
            //ema20
            const ema20 = document.getElementById('ema20');
            ema20.addEventListener('change', function () {
                localStorage.setItem('ema20state', this.checked);
            });
            if (localStorage.getItem('ema20state') !== null) {
                ema20.checked = localStorage.getItem('ema20state') === 'true';
            }
            //ema50
            const ema50 = document.getElementById('ema50');
            ema50.addEventListener('change', function () {
                localStorage.setItem('ema50state', this.checked);
            });
            if (localStorage.getItem('ema50state') !== null) {
                ema50.checked = localStorage.getItem('ema50state') === 'true';
            }
            //ema100
            const ema100 = document.getElementById('ema100');
            ema100.addEventListener('change', function () {
                localStorage.setItem('ema100state', this.checked);
            });
            if (localStorage.getItem('ema100state') !== null) {
                ema100.checked = localStorage.getItem('ema100state') === 'true';
            }
            //ema200
            const ema200 = document.getElementById('ema200');
            ema200.addEventListener('change', function () {
                localStorage.setItem('ema200state', this.checked);
            });
            if (localStorage.getItem('ema200state') !== null) {
                ema200.checked = localStorage.getItem('ema200state') === 'true';
            }
            //macd
            const macd = document.getElementById('macd');
            macd.addEventListener('change', function () {
                localStorage.setItem('macdState', this.checked);
            });
            if (localStorage.getItem('macdState') !== null) {
                macd.checked = localStorage.getItem('macdState') === 'true';
            }

            //KASOWANIE CHECKBOXOW PO ZMIANIE TICKERA
            const searchButton = document.getElementById('search');

            function uncheckAndSave() {
                sma10.checked = false;
                localStorage.setItem('sma10state', sma10.checked);
                sma20.checked = false;
                localStorage.setItem('sma20state', sma20.checked);
                sma50.checked = false;
                localStorage.setItem('sma50state', sma50.checked);
                sma100.checked = false;
                localStorage.setItem('sma100state', sma100.checked);
                sma200.checked = false;
                localStorage.setItem('sma200state', sma200.checked);
                ema10.checked = false;
                localStorage.setItem('ema10state', ema10.checked);
                ema20.checked = false;
                localStorage.setItem('ema20state', ema20.checked);
                ema50.checked = false;
                localStorage.setItem('ema50state', ema50.checked);
                ema100.checked = false;
                localStorage.setItem('ema100state', ema100.checked);
                ema200.checked = false;
                localStorage.setItem('ema200state', ema200.checked);
                macd.checked = false;
                localStorage.setItem('macdState', macd.checked);

            }

            searchButton.addEventListener('click', function () {
                // Gdy klikniety przycisk, odznacz checkboxy
                uncheckAndSave()
            });
        </script>
    </div>
{% endblock %}
