{% extends 'base.html' %}
{% block content %}
    <style>
    .article{
        border: 3px solid #474747;
        border-radius: 10px;
        transition: 0.2s;
        width: 300px;
        height: 200px;
        display: flex;
        align-items: flex-end

    }

    .article:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .article-text{
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 22px;
    }
    .link{
        text-decoration: none;
        color: white;
    }

    </style>
    {% load static %}
    <div style="text-align: center; margin-top: 20px;">
    <h2>Podstawy</h2>
    <div class="container" style="width:70vw; display: flex; flex-wrap: wrap; column-gap: 10px; row-gap: 10px; justify-content: center; margin-top: 40px;">
        <a class="link" href="understanding-investing.html">
        <div class="article" style="background-image: url({% static 'images/img2.jpg' %}); background-size: cover">
            <p class="article-text">Zrozumieć inwestowanie</p>
        </div>
        </a>
        <a class="link" href="what-is-stock.html">
        <div class="article" style="background-image: url({% static 'images/img1.jpg' %}); background-size: cover">
            <p class="article-text">Czym jest akcja?</p>
        </div>
        </a>
        <a class="link" href="what-is-ticker.html">
        <div class="article" style="background-image: url({% static 'images/img7.jpg' %}); background-size: cover">
            <p class="article-text">Czym jest symbol akcji?</p>
        </div>
        </a>
    </div>
    <h2 style="margin-top: 30px;">Wskaźniki</h2>
    <div class="container" style="width:70vw; display: flex; flex-wrap: wrap; column-gap: 10px; row-gap: 10px; justify-content: center; margin-top: 40px;">
        <a class="link" href="understanding-indicators.html">
        <div class="article" style="background-image: url({% static 'images/img4.jpg' %}); background-size: cover">
            <p class="article-text" >Zrozumieć wskaźniki</p>
        </div>
        </a>
        <a class="link" href="what-is-sma.html">
        <div class="article" style="background-image: url({% static 'images/img6.jpg' %}); background-size: cover">
            <p class="article-text" >Czym jest prosta średnia krocząca (SMA)?</p>
        </div>
        </a>
        <a class="link" href="what-is-ema.html">
        <div class="article" style="background-image: url({% static 'images/img5.jpg' %}); background-size: cover">
            <p class="article-text">Czym jest wykładnicza średnia krocząca (EMA)?</p>
        </div>
        </a>
        <a class="link" href="what-are-bb.html">
        <div class="article" style="background-image: url({% static 'images/img8.jpg' %}); background-size: cover">
            <p class="article-text">Czym są wstęgi Bollingera?</p>
        </div>
        </a>
        <a class="link" href="what-is-macd.html">
        <div class="article" style="background-image: url({% static 'images/img9.jpg' %}); background-size: cover">
            <p class="article-text">Czym jest MACD?</p>
        </div>
        </a>
    </div>
    </div>

{% endblock %}
