{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="static/css/home.css" />
    <div class="container">
        <div class="flex-container" style="display: flex">
            <div class="flex-child" style="flex:1; margin-right: 2%">
                <h1>Tester umiejętności początkującego gracza giełdowego</h1>
                <br/>
                <h2>Czym jest ta strona?</h2>
                <p style="margin-right: 30%; font-size: 18px">Tester umiejętności początkującego gracza giełdowego to
                    strona
                    pozwalająca sprawdzić posiadane przez użytkownika zdolności w dziedzinie inwestycji lub też
                    spekulacji.
                    udostępnia historyczne dane na temat ceny wybranych spółek oraz pozwala dokonać analizy technicznej
                    polegającej na analizie wykresów i prognozowaniu kursu akcji na podstawie historycznych poziomów
                    cen. </p>

                <h2>Reguły gry</h2>
                <ul style="list-style-type: square">
                    <li style="margin-right: 30%; font-size: 18px">Gracz rozpoczyna grę 2 stycznia 2015 ropku,
                        posiadajac 5000 dolarów w gotówce.
                    </li>
                    <li style="margin-right: 30%; font-size: 18px">Do jego dyspozycji jest wybranych 458 spółek i
                        indeksów o wysokiej płynności z amerykańskich giełd NYSE oraz NASDAQ.
                    </li>
                    <li style="margin-right: 30%; font-size: 18px">Użytkownik ma do wyboru trzy panele:
                        <ul style="list-style-type: '– '">
                            <li>
                                Analityczny, w którym ma podgląd do dwóch najpopularniejszych indeksów
                                oraz ma możliwość dokładnej analizy spółki wraz z uwzględnieniem wskaźników analizy
                                technicznej.
                                Okres dostępny do analizy sięga pięciu lat wstecz od daty rozpoczęcia.
                            </li>
                            <li>
                                Portfel, w którym znajduje się lista aktualnie posiadanych akcji oraz ilość pozostałej
                                gotówki.
                                W tym panelu gracz może również dokonać zakupu lub sprzedaży akcji, a także przejść do
                                następnego dnia.
                                Przedstawiane kursy akcji są kursami zamknięcia, więc wszystkie operacje na akcjach są
                                przeprowadzane
                                po zakończeniu sesji danego dnia.
                            </li>
                            <li>
                                Edukacjyny, w którym może zapoznać się z podstawowymi pojęciami oraz bardziej
                                zaawansowanymi wskaźnikami
                                używanymi w analizie technicznej spółki.
                            </li>
                        </ul>
                    </li>
                    <li style="margin-right: 30%; font-size: 18px">
                        Gra kończy się 10 listopada 2017 roku.
                    </li>
                </ul>

                <h2>Lista wszystkich dostępnych akcji:</h2>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Wpisz nazwę lub ticker">
                <div class="list">
                <ul id="myUL">
                </ul>
                </div>
                <script src="static/script.js"></script>


            </div>
        </div>
    </div>


{% endblock %}