{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="flex-container" style="display: flex">
        <div class="flex-child" style="flex:1; margin-right: 2%">
            <h2>For beginners</h2>
            <br/>
            <h4>What are stocks?</h4>
            Stocks are a type of security that gives stockholders a share of ownership in a company. Stocks also are
            called
            “equities.”
            <br/><br/>
            <h4>Why do people buy stocks?</h4>
            Investors buy stocks for various reasons. Here are some of them:
            <ul>
                <li>Capital appreciation, which occurs when a stock rises in price</li>
                <li>Dividend payments, which come when the company distributes some of its earnings to stockholders</li>
                <li>Ability to vote shares and influence the company</li>
            </ul>
            <h4>Why do companies issue stock?</h4>
            Companies issue stock to get money for various things, which may include:
            <ul>
                <li>Paying off debt</li>
                <li>Launching new products</li>
                <li>Expanding into new markets or regions</li>
                <li>Enlarging facilities or building new ones</li>
            </ul>
            <h4>What is a ticker?</h4>
            A stock symbol or ticker is a unique series of letters assigned to a security for trading purposes.
            Stocks listed on the New York Stock Exchange (NYSE) can have four or fewer letters.
            Nasdaq-listed securities can have up to five characters.
            Symbols are just a shorthand way of describing a company's stock, so there is no significant difference
            between those that have three letters and those that have four or five. Stock symbols are also known as
            ticker
            symbols. For example:
            <br/><br/>
        </div>
    </div>
    </div>
{% endblock %}