{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        <ul class="messages" style="width: 50%; margin-left: auto; margin-right: auto">
            {% for message in messages %}
                {% if 'error' in message.tags %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% endif %}
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
            </div>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container" style="max-width: 70vw;">
        <h2 style="text-align: left">Today is: {{ day }}, {{ today.day }} {{ month }} {{ today.year }}</h2>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 30px">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Price</th>
                    <th scope="col">Volume</th>
                    <th scope="col">Worth</th>
                </tr>
                </thead>
                <tbody>

                {% if not ticker %}
                    <tr style="height: 41px">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
                {% if ticker %}
                    {% for list_item in output %}
                        <tr>
                            {% for item in list_item %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <h4 style="margin-top: 25px">Money: <p style="color: #2a6839 ; display: inline ">${{ money }}</p></h4>
        <h4>Portfolio value: <p style="color: #2a6839 ; display: inline">${{ portfolio_value }}</p></h4>
        <br/><br/>
        <div class="flex-container" style="display: flex">
            <div class="flex-child magenta" style="flex:1">
                <h1>Buy stock</h1>
                <br/>

                <form class="d-flex" method="POST" name="buy_form">
                    {% csrf_token %}
                    <input class="form-control me-2" type="text" placeholder="Ticker" aria-label="Add Stock"
                           name="buyticker" id="wprowadzonyTekst" autocomplete="off" list="dopasowaniaList"
                           style="width: 30%">
                    <input class="form-control me-2" type="search" placeholder="Volume" aria-label="Add Stock"
                           name="buyvolume"
                           style="width: 30%">
                    <button class="btn btn-outline-success" type="submit" name="buy_button">Buy</button>
                </form>
                <datalist id="dopasowaniaList">
                </datalist>
                <script>
                    $(document).ready(function () {
                        $('#wprowadzonyTekst').on('input', function () {
                            var wprowadzonyTekst = $(this).val();
                            $.ajax({
                                url: '/dopasowania/',
                                data: {'q': wprowadzonyTekst},
                                dataType: 'json',
                                success: function (data) {
                                    var datalist = $('#dopasowaniaList');
                                    datalist.empty();

                                    data.forEach(function (dopasowanie) {
                                        datalist.append('<option value="' + dopasowanie + '">');
                                    });
                                }
                            });
                        });
                    });
                </script>
                <br/>
                <br/>

                <h1>Sell stock</h1>
                <br/>
                <form class="d-flex" method="POST" name="sell_form">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Ticker" aria-label="Add Stock"
                           name="sellticker"
                           style="width: 30%">
                    <input class="form-control me-2" type="search" placeholder="Volume" aria-label="Add Stock"
                           name="sellvolume"
                           style="width: 30%">
                    <button class="btn btn-outline-danger" type="submit" name="sell_button">Sell</button>
                </form>
            </div>
            <div style="align-self:flex-end ">
                <h5>Go to the next day</h5>
                <form class="d-flex" method="POST" name="next_day">
                    {% csrf_token %}
                    <button class="btn btn-outline-success" type="submit" name="next_day">Next day</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
